<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.dao.UserFollowingMapper">
    <insert id="addUserFollowing" parameterType="com.bilibili.domain.UserFollowing">
        insert
        into
            user_following(
                           userId,
                           followingId,
                           groupId
            ) values (
                      #{userId},
                      #{followingId},
                      #({groupId})
            )
    </insert>

    <delete id="unFollow">
        delete from user_following where userId = #{userId} and followingId = #{followingId}
    </delete>
</mapper>